:root {
  --color-primary: #007bff;
  --color-secondary: #ff7a00;
  --color-dark: #0d0d0d;
  --color-light: #f9f9f9;

  --orange-gradient : linear-gradient(90deg,rgba(236, 164, 0, 1) 0%, rgba(244, 107, 52, 1) 100%);
  --dark-blue-gradient : linear-gradient(90deg,rgba(44, 163, 220, 1) 0%, rgba(0, 48, 140, 1) 100%);
  --orange-dark-blue-gradient : linear-gradient(90deg,rgba(244, 107, 52, 1) 0%, rgba(0, 48, 140, 1) 100%);
  --green-blue-gradient : linear-gradient(90deg,rgba(64, 219, 92, 1) 0%, rgba(3, 199, 253, 1) 50%, rgba(64, 219, 92, 1) 100%);
  --purple-gradient : linear-gradient(90deg,rgba(217, 93, 176, 1) 0%, rgba(51, 68, 220, 1) 50%);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.h2 {
  font-size: 2rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #666;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}


.flex-align-center{
  align-items: center;
}
.flex-justify-center{
 justify-content: center;
}
.flex-justify-end{
  justify-content: flex-end;
}

.flex-col{
  flex-direction: column;
}


.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap-1{
  gap: 0.2rem;
}
.gap-2{
  gap: 0.4rem;
}
.gap-3{
  gap: 0.6rem;
}
.grid {
  display: grid;
  gap: 1rem;
}

.btn {
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(106, 56, 218, 0.3);
  font-weight: 400; 
  font-size: 0.85rem !important;
  border: none;
  transition: all 0.3s ease;
}

.btn-orange-gradient {
  background: var(--orange-gradient);
  color: #fff;
}

.btn-dark-blue-gradient {
  background: var(--dark-blue-gradient);
  color: #fff;
}

.btn-orange-dark-blue-gradient {
  background: var(--orange-dark-blue-gradient);
  color: #fff;
}
.btn-green-blue-gradient{
  background: var(--green-blue-gradient);
  color: #fff;
}
.btn-purple-gradient {
  background: var(--purple-gradient);
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}

.text-dark-blue-gradient{
  background: #54BBEF;
  background: linear-gradient(to right, #00308C 0%,  #54BBEF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}