:root {
  --color-primary: #007bff;
  --color-secondary: #ff7a00;
  --color-dark: #0d0d0d;
  --color-light: #f9f9f9;
  --gold:#ECA400;

  --orange-gradient : linear-gradient(90deg,rgba(236, 164, 0, 1) 0%, rgba(244, 107, 52, 1) 100%);
  --dark-blue-gradient : linear-gradient(90deg,rgba(44, 163, 220, 1) 0%, rgba(0, 48, 140, 1) 100%);
  --orange-dark-blue-gradient : linear-gradient(90deg,rgba(244, 107, 52, 1) 0%, rgba(0, 48, 140, 1) 100%);
  --green-blue-gradient : linear-gradient(90deg,rgba(64, 219, 92, 1) 0%, rgba(3, 199, 253, 1) 50%, rgba(64, 219, 92, 1) 100%);
  --purple-gradient : linear-gradient(90deg,rgba(217, 93, 176, 1) 0%, rgba(51, 68, 220, 1) 50%);
  --grey-gradient: linear-gradient(90deg,rgba(239, 231, 231, 1) 0%, rgba(137, 132, 132, 1) 100%);
  --blue-white-blue-gradient: linear-gradient(90deg,rgba(28, 136, 179, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(28, 136, 179, 1) 100%, rgba(255, 255, 255, 1) 50%);
  --white-blue-gradient :linear-gradient(270deg,rgba(141, 195, 217, 1) 0%, rgba(255, 255, 255, 1) 40%);
  --blue-white-gradient: linear-gradient(90deg,rgba(141, 195, 217, 1) 0%, rgba(255, 255, 255, 1) 40%);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.h2 {
  font-size: 2rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-start{
  text-align: start;
}

.text-muted {
  color: #666;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}
.w-fc{
  width: fit-content;
}
.flex-wrap{
  flex-wrap: wrap;
}

.flex-align-center{
  align-items: center;
}
.flex-justify-center{
 justify-content: center;
}
.flex-justify-end{
  justify-content: flex-end;
}

.flex-col{
  flex-direction: column;
}


.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-1{
  padding: 1rem;
}
.p-2{
  padding: 2rem;
}
.m-0{
  margin: 0;
}
.gap-1{
  gap: 0.2rem;
}
.gap-2{
  gap: 0.4rem;
}
.gap-3{
  gap: 0.6rem;
}
.grid {
  display: grid;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(106, 56, 218, 0.3);
  font-weight: 400; 
  font-size: 1rem !important;
  border: none;
  transition: all 0.3s ease;
}

.btn-orange-gradient {
  background: var(--orange-gradient) !important;
  color: #fff;
}

.btn-grey-gradient {
  background: var(--grey-gradient);
  color: #000;
}



.btn-dark-blue-gradient {
  background: var(--dark-blue-gradient);
  color: #fff;
}

.btn-orange-dark-blue-gradient {
  background: var(--orange-dark-blue-gradient);
  color: #fff;
}
.btn-green-blue-gradient{
  background: var(--green-blue-gradient);
  color: #fff;
}
.btn-purple-gradient {
  background: var(--purple-gradient);
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}

.horizontal-orange-line {
  border: none;
  border-top: 1px solid #eca401;
  width: 90%;
  margin: 10px auto;
}
.text-dark-blue-gradient{
  background: linear-gradient(90deg,rgba(0, 48, 140, 1) 40%, rgba(0, 7, 10, 1) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-light-blue-gradient{
  background: linear-gradient(90deg,rgba(0, 48, 140, 1) 26%, rgba(84, 187, 239, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gold{
  color: var(--gold);
}
.fw-400{
  font-weight: 400;
}

.text-gold-dark-gradient{
  background: linear-gradient(90deg,rgba(236, 164, 0, 1) 30%, rgba(53, 18, 4, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuItems {
  position: absolute;
  top: 100%;
  /* left: 0; */
  background: #E7EFFA;
  border-radius: 4px;
  margin-top: 4px;
  z-index: 50;
  min-width: 100px;
  padding: 0.4rem;
  border-radius: 0 0 20px 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 48, 140, 0.25);
  outline: none;
  button {
      padding: 0.5rem;
      margin: 5px auto;
      display: flex;
      align-items: center;
      gap: 0.7rem;
      background-color: #eaedf4;
      box-shadow: 0px 5px 10px 0px rgba(0, 48, 140, 0.25);
      border-radius: 10px 0px 10px 0;
      border: none;
      width: 100%;
      &.active {
        background: var(--orange-gradient) !important;
        color: #fff !important;
      }
  }
  .text-menu-item {
    white-space: nowrap;
    font-size: 0.9rem;
    font-weight: 500;;
  }
}

.big-title{
  font-size: 3rem;
  font-weight: 700;
}

.text-img-display{
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 3rem 2rem;
}

.blue-white-blue-gradient{
  background: var(--blue-white-blue-gradient);
}

.blue-white-gradient{
  background: var(--blue-white-gradient);
}

.white-blue-gradient{
  background: var(--white-blue-gradient);
}

.white-card{
  background: #fff;
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  hr {
      border: none;
      border-top: 1px solid #ECA401;
      width: 90%;
      margin: 10px auto;
    }

  &:hover {
    transform: translateY(-5px);
    background: var(--orange-gradient);
    color: #fff;
    p {
      color: #f0f0f0;
    }
  }
}

ul.custom-list {
  list-style: none; /* remove default bullets */
  padding-left: 0;
}

ul.custom-list li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
  text-align: start;
}

ul.custom-list li::before {
  content: "✔"; /* check mark */
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  border-radius: 0.25rem; /* makes it blocky */
  color: #000; /* white check mark */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.9rem;
}

.cursor-pointer{
  cursor: pointer;
}

.ps-2{
  padding-left: 2rem;
}

.pb-2{
  padding-bottom: 2rem;
}

.background-top-blue-gradient{
  background: linear-gradient(0deg,rgba(255, 255, 255, 1) 40%, rgba(28, 136, 179, 0.21) 100%);

}
.text-decoration-none{
  text-decoration: none;
}

@media (max-width: 1000px){
  .text-img-display{
      flex-wrap: wrap;
  }
}

@media (max-width:768px){
  .text-img-display{
      img {
          width: 400;
          height: 300;
      }
  }
}

@media (max-width:450px){
  .text-img-display{
      img {
          width: 300;
          height: 250;
      }
  }
}