.backgroundImg{
  background-image: url('/imgs/banner.png');
  background-repeat: no-repeat;       
background-size: cover;         
background-position: center;
// height: 100%;
// background-attachment: fixed; 
}

.card{
  background: #4343434D 0.5;
  border-radius: 20px;
  max-width: 40rem;
  padding: 1.5rem 2.5rem;
}

.hero {
    display: flex;
    // grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    padding: 9rem 0;
    // gap: 2rem;

  
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }
  
    p {
      margin: 1.5rem 0;
      color: #fff;
    }
  
    .buttons {
      display: flex;
      gap: 1rem;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .hero {
      padding: 5rem 0;
      justify-content: center;
    }
    // .content{
    //   padding: 2rem 0 !important;
    // }
    .illustration img {
      width: 100%;
      height: 100%;
    }
  }
  
  
  @media (max-width: 768px) {
    .hero {
      grid-template-columns: 1fr;
      padding: 3rem 2rem;
      text-align: center;
      .content{
        padding: 2rem !important;
      }
      .illustration{
        display: none;
      }
      .buttons {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
  