.container {
    position: relative;
  }
  
  .trigger {
    position: relative;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    outline: none !important;
  }


.menuGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.category h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #333;
}

.gridList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem 1rem;
}

.menuItem {
  text-align: left;
  font-size: 0.9rem;
  padding: 0.25rem 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.menuItem:hover {
  color: #0070f3;
}

.sectionTitle{
  color: var(--color-secondary);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  text-align: center;
  margin-bottom: 1rem;
}