.solutions {
  position: relative;
  padding: 2rem 0;

  // > div:first-of-type {
  //   position: absolute;
  //   inset: 0;
  //   background: linear-gradient(
  //     180deg,
  //     rgba(246, 248, 248, 0.8) 0%,
  //     rgba(84, 187, 239, 0.8) 50%
  //   );
  //   opacity: 0.5;
  //   z-index: 1;
  // }

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  
    .subtitle {
      max-width: 700px;
      margin: 0 auto 3rem auto;
      color: #555;
    }
  
    .cards {
      display: flex;
      // grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 2rem;
      justify-content: center;
      flex-wrap: wrap;
    }
    .cardWarpper{
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .card {
      max-width:30rem;
      background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.95) 55%, rgba(26, 33, 136, 0) 100%);
      border-radius: 16px;
      padding: 1rem 2rem;
      text-align: left;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
      transition: transform 0.3s ease;
      color: #fff;
      height:  calc(245px - 2rem);
  
      h3 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-align: start;
      }
      p{
        max-width: 60%;
      }

    }
  }
  