.solutions {
  position: relative;
  padding: 2rem 0;
  background-image: url('/imgs/background-our-solutions.png');
  background-size: cover;
  background-position: center;

  > div:first-of-type {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(246, 248, 248, 0.8) 0%,
      rgba(84, 187, 239, 0.8) 50%
    );
    opacity: 0.5;
    z-index: 1;
  }

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  
    .subtitle {
      max-width: 700px;
      margin: 0 auto 3rem auto;
      color: #555;
    }
  
    .cards {
      display: flex;
      // grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 2rem;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .card {
      max-width:25rem;
      background: #fff;
      border-radius: 16px;
      padding: 2rem;
      text-align: left;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
      transition: transform 0.3s ease;
      div{
        display: flex;
        justify-content: center;
      }
  
      h3 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-align: center;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 1rem 0;
        li {
          margin: 0.5rem 0;
          color: #333;
        }
      }
  
      button {
        margin-top: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  
      &:hover {
        transform: translateY(-6px);
      }
    }
  
    .blue {
      background: linear-gradient(135deg, #00c6ff, #0072ff);
      color: #fff;
  
      ul li {
        color: #fff;
      }
  
      button {
        background: linear-gradient(90deg, #ff7a00, #ffb347);
        color: #fff;
      }
    }
  }
  