.services {
  padding: 2rem 2rem;
  margin: 0 auto;
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 3rem;
    line-height: 1.6;
  }
  .service-container {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    .toggle-services {
      display: flex;
      button {
        width: 100%;
        background-color: #efe7e7;
        border: none;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem 0;
      }
      button:first-of-type {
        border-radius: 8px 0 0 8px;
        font-size: 1.5rem;
      }
  
      button:nth-of-type(2) {
        font-size: 1.5rem;
        border-radius: 0 8px 8px 0;
            }
      
    }
  }
  .serviceList {
    // background-color: white;
    // border-radius: 8px;
    // padding: 2rem;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.8rem;
        background-color: #f8f9fa;
        border-radius: 10px;
        color: #000;
        text-align: center;
        cursor: pointer;
        &:hover {
          transform: translateY(-5px);
          background: var(--orange-gradient);
          color: #fff;
        }
        h4{
          margin: 0.1rem auto;
        }
        box-shadow: 3px 3px 10px 0px rgba(0, 48, 140, 0.6);
        
      }
    }
  }
  @media (max-width: 768px) {
    padding: 3rem 1rem;

    .serviceList {
      ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
